<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseUrl" value="http://pecgi.co.id/" />
    <add key="EndpointUrl" value="approval/status" />
    <add key="AccessToken" value="123" />
    <add key="EndpointMonitoringURL" value="monitoring" />
    <add key="IntervalApiURLMonitoring" value="" />
    <add key="RetryCallApiTimes" value="" />
    <add key="Username" value="admin" />
    <add key="Password" value="123" />
    <add key="AlarmDuration" value="13" />
    <add key="NewAlarmDelayDuration" value="3" />
    <add key="MonitoringDuration" value="30" />
  </appSettings>
</configuration>

